<div class="container">
  <div class="form-group">
    <label>
      Search by username:
      <input type="text" class="form-control" placeholder="search user"
        style="width: 300px" [(ngModel)]="searchTerm" />
    </label>
  </div>

  <div class="row">
    <div class="col-lg-3 col-sm-6 mb-4" *ngFor="let user of users | userFilter: searchTerm">
      <div class="card">
        <img class="card-img-top" src="{{user.avatar_url}}" alt="avatar"/>
        <div class="card-body">
          <h5 class="card-title">Username: <a href="{{user.html_url}}">{{user.login}}</a></h5>
          <h5 class="card-subtitle"><a href="repos/{{user.login}}">Watch repositories</a></h5>
        </div>
      </div>
    </div>

  </div>

</div>
